.overlay .overlay-header {
  background-color: #22ff22;
}

.overlay .overlay-content {
  background-color: #ffffff;
}

.overlay * {
  padding: 12px;
}

*:has(> .overlay) {
  position: relative;
}

.overlay {
  padding: 25%;
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
td {
  padding: 4px;
}

table, th, td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}
